body{
    background-color: #252525;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 25px;
    background-color: orange;
    padding: 5px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

header h1 {
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 10px;
    word-spacing: 20px;
}

header p{
    font-size: 22px;
    letter-spacing: 8px;
    font-style: italic;
    word-spacing: 15px;
}

#record{
    margin-left: 43%;
    margin-top: 70px;
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 3px;
    word-spacing: 10px;
    border: 5px solid orange;
    transition: ease-in-out 0.3s;
    font-weight: 600;
}

#record:hover{
    background-color: orange;
    cursor: pointer;
    border-color: white;
    transition: ease-in-out 0.5s;
    border-radius: 25px;
    transform: scale(1.08);
    box-shadow: 0px 0px 20px white;
}

.container{
    margin: 70px auto;
    max-width: 95vw;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 22px;
    max-height: fit-content;
    border: 5px solid orange;
    letter-spacing: 2px;
    word-spacing: 5px;
    }

.copyBtn{
    padding: 5px 15px;
    border-radius: 10px;
    border: 3px solid orange;
    background-color: white;
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 10px;
}

.copyBtn:hover{
    cursor: pointer;
    background-color: #252525;
    color: orange;
    transition: ease-in-out 0.5s;
}